
@{
    ViewBag.Title = "Arizalar";
    Layout = "~/Areas/Yonetim/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Arizalar</h2>


<div>

    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-sm-12">
            <h2 class="col-sm-6">Pending Operations </h2> <h2 class="col-sm-6">Finished Operations </h2>
            <textarea class="col-sm-6" id="Islemler" rows="20"></textarea>


            <textarea class="col-sm-6" rows="20"> </textarea>
            <button id="Islemler" class="btn-success">Finish the Operation</button>


        </div>
    </div>
</div>